[project]
	description = sufd
[access "refs/*"]
	owner = group user/pe4enko (pe4enko)
[access "refs/for/refs/*"]
	read = group user/pe4enko (pe4enko)
	push = group user/pe4enko (pe4enko)
	label-Code-Review = -2..+2 group user/pe4enko (pe4enko)
	label-Verified = -1..+1 group user/pe4enko (pe4enko)
	rebase = group user/pe4enko (pe4enko)
	removeReviewer = group user/pe4enko (pe4enko)
	submit = group user/pe4enko (pe4enko)
[access "refs/heads/*"]
	read = group user/pe4enko (pe4enko)
	create = group user/pe4enko (pe4enko)
	push = +force group user/pe4enko (pe4enko)
	pushMerge = group user/pe4enko (pe4enko)
[access "refs/tags/*"]
	push = +force group user/pe4enko (pe4enko)
	pushTag = group user/pe4enko (pe4enko)
	pushSignedTag = group user/pe4enko (pe4enko)
